@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,700&family=Nunito:wght@400;500;600&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto+Condensed:wght@300;400&display=swap");

html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}


input {
  padding: 0.5rem 1rem !important;
  width: 24rem;
  height: 2rem;
  margin-bottom: 1.2rem !important;
  border: 1px solid #C0C0C0;
  border-radius: 0.27778rem;
}

.primary-button {
  width: 24rem;
  height: 2rem;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: #769cf4;
}






